.app {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .app .mainHeading h1 {
    text-align: center;
  } 
  .app h1,
  h2 {
    color: white;
  }
  .app .input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app .input {
    margin-top: 0.8em;
    width: 20em;
    height: 3em;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
  }
  .app .input input {
    width: 100%;
    height: 1.6em;
    border-color: transparent;
    outline-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  